Package: enigma2-plugin-extensions-openstore-bh
Version: 20140112-r0
Description: MyMetrix - OpenStore2.1 Plugin for BlackHole 2.0.8
Section: extra
Priority: optional
Maintainer: capa
Architecture: all
OE: noinfo
Homepage: www.vuplus-community.net
Depends: enigma2(>2.6git20091016)
Source: noinfo
